

#total_value_block{
  width:100%;
  background-color: #f2f2f2;
  height: 73px;
  /*position: absolute;
  left:0px;
  top:0px;*/
}

#price_table{
  width:100%;
  height:300px;
  /*position:absolute;
  left:0px;
  top:92px;*/
}

#market_status{
  width:62%-5px;
  text-align:left;
  font-size:12px;
  float:left;
  padding-left:5px;
}

#market_closing{
  width:38%;
  text-align:right;
  font-size:11px;
  float:right;
  padding-right:5px;
}

.price_block{
  width:93%;
  height:60px;
  margin-top:18px;
  margin-left:3.5%;
}

.price_block_title{
  width:100%;
  font-size:15px;
  border-bottom: 1px solid #c0c0c0;
  padding-bottom:3px;
  margin-bottom:3px;
}

.price_block_table{
  width:100%;
  padding:5px;
  font-size:12px;
}

.price_block_table td{
  width: 33%;
  text-align: center;
}

#chart_area{
  overflow: auto;
  /*position: absolute;
  top:0px;
  left: 300px;
  background-color:red;*/
}

#value_and_price{
  margin-left: 30px;
  width: 280px;
  float:left;
}

