#total_stone_block{
  width:250px;
  padding:15px;
  background-color: #f2f2f2;
}


#stone_price_block{
  width:250px;
  height:80px;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  padding:15px 15px 0px 10px;
}


#stock_area{
  width:900px;
  margin-left: 118px;
}

#header_bar{
  width:100%;
  height:30px;
}

#stone_stock_table{
  width:100%;
  border-collapse: collapse;
}

#stone_stock_table col{
	width:100px;
}

#stone_stock_table th ~ th {
	text-align:left;
}

#stone_stock_table tr td:first-child {
	text-align:center;
}

#stone_stock_table th{
  font-weight: normal;
  height:30px;
  font-size:12px;
  border-bottom:2px solid #e5e5e5;
}

#stone_stock_table td{
  font-weight: normal;
  height:50px;
}

#stone_stock_table tr:hover{
  background-color: #f2f2f2;
  cursor: pointer;
}
#stone_stock_table tr:first-child:hover{
  background-color: white;
  cursor: default;
}